*~
/*.tar.xz
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/install-sh
/missing
/stamp-h1
/test-driver
/index.en.html
/index.ja.html
/Autotools-memo.ja.html
/INSTALL.html
*.mod
*.o
core*
src/*.trs
src/*.log
src/*.hl
src/*.param.gp
src/*.coord
src/*.avg
src/*.eps
src/zzz*.dipoRavg
src/zzz*.modulation
src/zzz*.fft
src/zzz*.polarization
src/*.dat
src/rgb_check
src/rgb_check.ppm
src/feram
src/*defects
src/wave_check
src/wisdom_1d_new
src/wisdom_SoA
src/wisdom_new
src/dispersion_*.feram
src/dispersion_*.gp
src/feram_diagonalize15x15
src/feram_displacement
src/feram_distribution3d2ppm
src/feram_eigenvalues2j
src/feram_eigenvalues2j_check.in
src/feram_fftw_1d
src/feram_fftw_SoA
src/feram_fftw_wisdom
src/feram_frozen_phonon_Gamma
src/feram_frozen_phonon_X
src/feram_random_field_generator
src/filename_check
src/marsaglia_tsang_uni64_check
src/marsaglia_tsang_uni64_timing
src/msg_check
src/msg_check.output
src/potential_surface_check.gp
src/potential_surface_input.feram
src/shuffle_integer_array_check
src/zzzmodulation.feram
src/GPa_check.feram
src/GPa_check.gp
src/date_and_time_check
src/decay_function_check
